<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <import resource="classpath*:spring/db.xml"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="configuration"
          class="info.yangguo.dragon.storage.mysql.Configuration">
        <property name="lifeTime" value="${delete.mysql.lifetime}"/>
        <property name="deleteInterval" value="${delete.mysql.deleteInterval}"/>
    </bean>

    <bean id="scheduleDeleteService"
          class="info.yangguo.dragon.storage.mysql.ScheduleDeleteService" autowire="byType">
        <constructor-arg ref="configuration"/>
    </bean>
</beans>