<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <import resource="classpath*:spring/storage-*.xml"/>
    <task:annotation-driven/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="configuration"
          class="info.yangguo.dragon.storage.mysql.Configuration">
        <property name="lifeTime" value="${delete.mysql.lifetime}"/>
    </bean>

    <bean id="deleteLogicService"
          class="info.yangguo.dragon.storage.mysql.DeleteLogicService" autowire="byType" lazy-init="false">
        <constructor-arg ref="configuration"/>
    </bean>
    <bean id="scheduledService" class="info.yangguo.dragon.storage.mysql.ScheduledService">
    </bean>
</beans>