<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.yangguo.dragon.storage.mysql.dao.AnnotationMapper">
    <insert id="addAnnotation" parameterType="AnnotationPojo">
        INSERT INTO annotation(`type`,ip,port,`time`,spanId,`value`,app,traceId) VALUES(#{type},#{ip},#{port},#{time},#{spanId},#{value},#{app},#{traceId})
    </insert>
    <select id="getAnnotatin" parameterType="Map" resultType="AnnotationPojo">
        SELECT * FROM annotation WHERE spanId=#{spanId} and traceId=#{traceId}
    </select>
    <delete id="deleteAnnotationBySpanid" parameterType="Map">
        DELETE  FROM annotation WHERE spanId=#{spanId} and traceId=#{traceId}
    </delete>
</mapper>