<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.yangguo.dragon.storage.mysql.dao.TraceMapper">
    <insert id="addTrace" parameterType="TracePojo">
        INSERT INTO trace(traceId,serviceId,`time`) VALUES(#{traceId}, #{serviceId}, #{time})
    </insert>
    <select id="getTraceId" parameterType="Map" resultType="String">
        SELECT DISTINCT traceId FROM trace where time &lt; #{beginTime} limit #{limit}
    </select>
    <select id="getTraceIdByServiceId" parameterType="Map" resultType="String">
        SELECT DISTINCT traceId FROM trace where serviceId=#{serviceId} and `time` >= #{beginTime} limit #{offset},#{limit}
    </select>
    <delete id="deleteTraceById" parameterType="String">
        DELETE  FROM trace WHERE traceId=#{traceId}
    </delete>
</mapper>